body {
    font-family: 'Arial',sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    max-width: 600px;
    /* 상하좌우  */
    /* 상하는 80px 좌우는 auto */
    margin: 80px auto ;
    /* background-color: #fff; */
    padding: 30px;
    text-align: center;
    /* 박스에 부드러운 그림자를 줘서 살짝 떠 보이게 */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    /* 모서리를 둥글게 */
    border-radius: 12px;
    /* 반응형 및 에니메이션 효 과 주기 */
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease forwards;
}
h1 {
    color: #333;
}
a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
a:hover {
    color: #0056b3;
}
img {
    border-radius: 50%;
    margin: 20px 0;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
