<!-- 프로젝트 -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로젝트</title>
    <link href="{{ url_for('static', filename='index.css')}}" rel="stylesheet">
 </head>
 <body>
   <div class="container">
      <h1>진행한 프로젝트</h1>
      <ul style="text-align: left;">
         <li>데이터 분석 및 시각화</li>
         <li>머신러닝 딥러닝을 활용한 예측 및 분류 모델 </li>
         <li>기업 내 외부 문서를 이용한 RAG 와 langchain llm을 연동한 기업 QA 시스템</li>
      </ul>
      <p>
         <a href="/" >홈으로</a> | <a href="/about" >소개</a>
      </p>
   </div>
 </body>
 </html>